*{
    margin:0;
    padding: 0;
}

@font-face {
    font-family: 'ParryHotter';
    src: url(../Fonts/ParryHotter.ttf) format('truetype');
}



body{
    background-image: url(../Images/HarryPotterSunset.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body, html{
    margin: 0;
    padding: 0;
    height:100%;
    font-size: 62.5%;

}

/* nav/header  */

nav{
    z-index: 4;;
   position: sticky; 
   top: 0;
   background-color: rgb(42, 42, 53);
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
   border-bottom:2px solid rgb(101, 101, 121) ;
}

nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white;
    font-size:2.1rem;
}

nav a:hover{
    background-color:  rgb(64, 64, 80);
}

nav li:first-child{
    margin-right: auto;
}

/* responsive header on the side */


.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(42, 42, 53, .2);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

.sidebar li{
    width:100%;
}
.sidebar a{
    width:100%;
}

.menu-button{
    display: none;
}

@media(max-width: 800px ){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display:block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/* mainBody */

.mainContainer{
  min-height: 100vh; 
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.mainBody{
    background-color:  rgba(42, 42, 53, 0.8);
    border-radius: 4px;
    z-index: 2;
    min-height: 100vh;
    padding: 1rem 0 5rem 0 ;
    margin: 8rem 2rem 3rem 2rem;
    color: white;
    height: fit-content;
    width: fit-content;
}

.first-container{
    padding: 2rem 0 1rem 6rem;
    font-size: 3.7rem;
    height:50px;

}

.second-container{
    display: flex;
    justify-content: space-evenly;
}

.authorQuote{
    font-size: 1.8rem;
    padding: 2rem 3rem 2rem 3rem;
    flex:1;
    
}


.img-container{
    width: 50%;
    margin-right: 3rem;

}
#MalfoyPortrait1{
    
    width: 100%;
    border: 3px solid rgb(129, 129, 231);
    border-radius: 8px;
    flex: 1;
    
}

table{
    font-size: 2rem;
}